.title {
  font-size: 40px;
  margin: 0 0 10px 0;
}

.comments-section {
  margin-top: 20px;
}

.comment-card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.comment-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.comment-desc {
  margin-bottom: 5px;
}

.comment-rating {
  color: #ff9800;
  font-weight: bold;
  margin-bottom: 10px;
}

.comment-upvote {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.comment-upvote svg {
  margin-right: 8px;
  transition: color 0.2s;
}

.thumbs-up-liked {
  color: theme('colors.c_blue.600'); /* Change color when liked */
}

.comment-upvote div {
  font-size: 14px;
  font-weight: bold;
}

.comment-votes {
  display: flex;
  align-items: center;
  gap: 20px;
}

.comment-upvote, .comment-downvote {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.comment-upvote svg, .comment-downvote svg {
  margin-right: 8px;
  transition: color 0.2s;
}

.thumbs-up-liked {
  color: theme('colors.c_blue.600');
}

.thumbs-down-disliked {
  color: theme('colors.c_red.600');
}

.comment-upvote div, .comment-downvote div {
  font-size: 14px;
  font-weight: bold;
}


