.main {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.category {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.category-green {
  border-right: 3px solid green;
  background-color: lightgreen;
}

.category-yellow {
  border-right: 3px solid theme('colors.c_yellow.300');
  background-color: theme('colors.c_yellow.500');
}

.category-red {
  border-right: 3px solid theme('colors.c_red.300');
  background-color: theme('colors.c_red.500');
}

.name {
  margin: auto;
  font-size: 40px;
}

hr.divider {
  border-top: 6px solid theme('colors.c_yellow.400');
  border-radius: 5px;
}

/* Button */
.link {
  align-items: center;
  background-image: linear-gradient(144deg, theme('colors.c_yellow.DEFAULT'), theme('colors.c_orange.DEFAULT') 50%,theme('colors.c_red.DEFAULT'));
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.link:active,
.link:hover {
  outline: 0;
}

.link span {
  text-align: center;
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.link:hover span {
  background: none;
}

@media (min-width: 768px) {
  .link {
    font-size: 20px;
    min-width: 196px;
  }
}




/* Grid */
.p-name { grid-area: name; }
.p-desc { grid-area: desc; }
.p-scope { grid-area: scope; }
.p-category { grid-area: category; }
.p-minwam { grid-area: minwam; }
.p-load { grid-area: load; }
.p-deglevels { grid-area: deglevels; }
.p-link { grid-area: link; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  grid-template-areas:
    'name name name name category category'
    'minwam minwam load load load load'
    'deglevels deglevels scope scope scope scope'
    'desc desc desc desc link link';
  gap: 25px;
  padding: 10px;
  min-width: 100%;
}

.grid-container > div {
  background-color: rgb(8, 61, 119, 0.02);
  text-align: left;
  padding: 20px;
  font-size: 20px;
}